<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>SuperPOLLs - View Results</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/body.css" type="text/css" >
  <link rel="stylesheet" href="/styles/administrative-body.css" type="text/css" >
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

</head>

<body>
  <%- include('partials/nav-bar.ejs') %>
  <h2>View Results of your SuperPOLL!</h2>

  <form>
    <div id="poll-container">
      <div id="poll-winner-container">
        <div id="poll-winner">The Results</div>
      </div>

      <div id="ranks">
        <% for (const rank of ranks) { %>
          <br>
          <div><strong><%= rank.optiontitle %></strong> Rank of:  <%= rank.sum %> </div>
          <div></div>
          <% } %>
      </div>
    </div>
    <br>
    <div class="results-container">
      <div id="votes"> The Details</div>
      <div id="votes-container">
        <div id="votes-header">
          <div>user</div>
          <div>subject</div>
          <div>rank</div>
        </div>
      <br>
      <% for (const user of users) { %>
        <div class="results">
          <div id="user-name"><%= user.name %> </div>
          <div id="user-optiontitle"><%= user.optiontitle %> </div>
          <div id="user-rank"><%= user.rank %></div>
        </div>
        <br>
        <% } %>
    </div>
  </form>
</body>
</html>
